.about {
    padding: 6rem 0;

    .about__wrap {
        flex-wrap: wrap;

        .about__item {
            ul li .svg-inline--fa {
                margin: 0 5px;
                color: #35ac39;
            }
            margin: 20px 0;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}