
$green: #35ac39;
.person {
    text-align: center;
    padding: 6rem 0;

    .person__wrap {
        .person__content {
            margin: 5rem 0 0;
            flex-wrap: wrap;
            justify-content: space-between;
            .person__item {
                position: relative;
                overflow: hidden;
                margin: 20px 0;

                .person__image {
                    overflow: hidden;
                    position: relative;

                    &:before {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 99%;
                        top: 0;
                        left: 0;
                        background: rgba(68, 67, 67, 0.301);
                        transition: .3s ease-out;
                        opacity: 0;
                    }
                }

                &:hover {
                    .person__image {
                        &:before {
                            opacity: 1;
                        }
                    }

                    ul {
                        .icon {

                            @for $i from 1 through 4 {
                                &:nth-child(#{$i}) {
                                    transform: translate(0, 0);
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    .person__name {
                        opacity: 1;
                        transform: translateX(0);
                        transition-delay: .5s;
                    }
                }

                img {
                    width: 100%;
                    object-fit: cover;

                }

                ul {
                    position: absolute;
                    left: 0;
                    bottom: 5px;

                    .icon {
                        width: 35px;
                        height: 35px;
                        color: #fff;
                        background: $green;
                        margin: 0;
                        transition: .3s ease-out;

                        &:not(:last-child) {
                            transform: translate(-100%, 100%);
                        }

                        @for $i from 1 through 4 {
                            &:nth-child(#{$i}) {
                                opacity: 0;
                                transition-delay: $i / 10 + s;
                            }
                        }

                        a .svg-inline--fa {
                            color: #fff;
                        }
                    }
                }

                .person__name {
                    position: absolute;
                    bottom: 50px;
                    left: 20%;
                    color: #fff;
                    text-align: left;
                    opacity: 0;
                    transform: translateX(-100%);
                    transition: .3s ease-out;
                }
            }
        }
    }
}
